<% layout("/layouts/boilerplate")%>
<body>
    <h3>Create a  new listing</h3>
    <div class="row"> 
        <div class="col-8 offset-2">
            <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="title" placeholder="enter title" class="form-control" required>
                    <div class="invalid-feedback"> Title should be valid</div>
                </div>
                <br>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" class="form-control" required></textarea>
                    <div class="invalid-feedback">Enter short description</div>
                </div>
                <br>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload</label>
                    <input type="file" name="image" class="form-control">
                    
                </div>
                <br>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="price" placeholder="enter price" class="form-control" required>
                        <div class="invalid-feedback">Enter valid price</div>
                    </div>
                    <br>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="country" placeholder="enter country" class="form-control" required>
                        <div class="invalid-feedback">Country should be valid</div>
                    </div>
                </div>
                 
                <br>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="location" placeholder="enter location" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                
                <br>
                <button class="btn btn-dark add-btn">Submit</button>
            </form>
        </div>
    </div>
</body>
